---
interface Props {
  idName:string
}

const {idName} = Astro.props
---

<div class="contiene-inputs">
    <input required name={idName} id={idName} type="text">
    <label for={idName}>{idName}</label>
</div>

<script>
  const contienInputs = document.querySelectorAll(".contiene-inputs");

  for (const contiene of contienInputs) {

    const input = contiene.querySelector(
      "input",
    ) as HTMLInputElement;

    const label = contiene.querySelector(
      "label",
    ) as HTMLLabelElement;


    input.addEventListener("blur", () => {

      if (input.value !== "") {
        label.classList.add("conContenido");
      } else {
        label.classList.remove("conContenido");
      }

    })
  }


</script>

<style>
    div {
        position: relative;
        inline-size: 100%;

    }

    input {
        inline-size: calc(100% - 20px);
        block-size: 50px;
        padding-inline: 10px;

        outline: none;
        border-radius: 6px 6px 0 0;

        font-size: 1.9rem;

        &:focus {
            block-size: 46px;
            border-bottom: 4px solid #2A7AE4;
        }

        &:focus + label {
            top: -19px;
            left: 2px;

            color: #2A7AE4;
            background-color: white;
            font-weight: 550;
            padding-inline: 8px;
            border-radius: 10px 10px 0 0;
        }

        @media (width <= 370px) {
            block-size: 40px;
            font-size: 1.6rem;
        }
    }

    label {
        position: absolute;
        top: 12px;
        left: 10px;

        font-size: 1.9rem;
        color: #A2A2A2;

        transition: all 0.15s linear;

        @media (width <= 370px) {
            top: 12px;
            left: 9px;
            font-size: 1.6rem;
        }
    }

    .conContenido {
        top: -20px;
        left: 2px;

        color: #2A7AE4;
        background-color: white;
        font-weight: 550;
        padding-inline: 8px;
        border-radius: 10px;

        @media (width <= 370px) {
            top: -19px;
            left: 2px;

            border-radius: 10px 10px 0 0;
        }
    }

</style>
