---
interface Img {
  src: string;
  alt: string
}
interface Props {
   imagen: Img;
   titulo: string;
   texto: string;
   voltear: string
}

const {imagen, titulo, texto, voltear} = Astro.props;
---
<section class:list={["exp"]}>
    <img
        class:list={["exp__img"]}
        src={imagen.src}
        alt={imagen.alt}
    >
    <div class:list={["exp__info"]}>
        <p class:list={["exp__info__parrafo"]}>
            <b class:list={["exp__info__titulo"]}>{titulo}</b>
            {texto}
        </p>
        <button
            class:list={[
              "exp__info__boton",
              "exp__info__boton--derecho"
            ]}
        >Repositorio</button>
        <button
            class:list={[
              "exp__info__boton",
              "exp__info__boton--izquierdo"
            ]}
        >Ver demo</button>
    </div>
</section>

<style define:vars={{voltear}}>

.exp {
  max-inline-size: 1136px;
  padding-inline: 32px;
  margin-inline: auto;
  margin-block-start: 32px;
  display: flex;
  flex-direction: var(--voltear);
  align-items: center;
  gap: 16px;

  @media (width <= 955px) {
      justify-content: center;
      flex-flow: wrap;
  }

  @media (width <= 768px) {
    max-inline-size: 704px;
    margin-block-start: 32px;
  }
  @media (width <= 360px) {
    padding-inline: 16px;
  }
}

.exp__img {
  inline-size: 752px;
  block-size: 406px;
}

.exp__info {
    align-self: stretch;
}

.exp__info__parrafo {
  font-size: 2.2rem;

  @media (width <= 768px) {
    font-size: 1.6rem;
  }
}

.exp__info__boton {
  inline-size: 116px;
  block-size: 51px;
  font-size: 1.6rem;
  transition: transform 0.2s linear;

  @media (width <= 768px) {
    font-size: 1.4rem;
    inline-size: 96px;
    block-size: 40px;
  }

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: rotate(270deg);
  }
}

.exp__info__boton--izquierdo {
    border: 1px solid #2a7ae4;
    color: #2a7ae4;
    margin-inline-end: 16px;
}

.exp__info__boton--derecho {
    background-color: #2a7ae4;
    border: none;
    color: white;
}

@media (width <= 768px) {
  .exp {
    align-items: flex-start;
    flex-direction: column;
  }

  .exp__img {
    inline-size: 100%;
    block-size: auto;
  }
}

</style>
